body {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}

#calculatorApp {
    min-height: 100vh;
    height: 100%;
    background: #000000;
}
#calculatorNumbers {
    display: flex;
    flex-wrap: wrap;
    max-width: 240px;
    margin: auto;
}
#calculatorNumbers button {
    width: 100%;
    height: 60px;
}
#calculatorNumbers li {
    width: calc(100% / 4);
}

#enteredValue {
    color: #ffffff;
}
#resultContainer {
    color: #ffffff;
}